@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    
    --green:#27ae60;
    
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.7rem;
}

html::-webkit-scrollbar-track{
    background:#fff;
}

html::-webkit-scrollbar-thumb{
    background:var(--green);
}

body{
    background:#eee;
    padding-right: 5rem;
}

section{
    padding:2rem 9%;
    min-height: 100vh;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color:#222;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#222;
    color:#fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background:var(--green);
    letter-spacing: .2rem;
}

header{
    position: fixed;
    top:0; right:0;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#fff;
    z-index: 1000;
}

header .navbar{
    writing-mode: vertical-lr;
    padding:1.5rem;
}

header .navbar a{
    padding:1.5rem;
    font-size: 2rem;
    color:#222;
}

header .navbar a:hover{
    color:var(--green);
}

#menu-bars{
    position: fixed;
    z-index: 10000;
    top:1rem; left:1rem;
    padding:1rem 1.5rem;
    border-radius: .5rem;
    color:#fff;
    background: var(--green);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js{
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}
/*circle image*/
.home .content img{
    height: 28rem;
    width:28rem;
    border-radius: 50%;
    object-fit: cover;
    border:1rem solid var(--green);
}

.home .content h3{
    font-size: 4rem;
    color:#222;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--green);
    text-transform: uppercase;
}

.home .content p{
    color:#222;
    font-size: 2.5rem;
    line-height: 2;
}
/*body {
    background-color: #d8d8d8;
}
h1 {
  text-align: center;
}*/
.home .social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.home .social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.home .social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.home .social-menu ul li .fa:hover {
    color: #ffffff;
} 
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}
/*.about .i
{
    font-size: medium;
    color: #27ae60;
    margin-right: 24%;
    font-weight: 300;
}*/
.about .row .image{
    text-align: center;
    flex:1 1 25rem;
}

.about .row .image img{
    width:30rem;
    border-radius: .5rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row .content{
    flex:1 1 55rem;
}

.about .row .content h3{
    color:#222;
    font-size: 4rem;
}

.about .row .content h3 span{
    color:var(--green);
}

.about .row .content .info{
    color:#333;
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 2;
}

.about .row .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding:1rem 0;
}

.about .row .content .box-container .box{
    flex:1 1 20rem;
}

.about .row .content .box-container .box p{
    font-size: 1.7rem;
    color:#222;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .box-container .box p span{
    color:var(--green);
}

.skills .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.skills .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1.2rem;/*changes in skills box size*/
    text-align: center;
}

.skills .box-container .box i{
    color:var(--green);
    font-size: 3rem;/*changes in icon size*/
    padding:1rem 0;
}

.skills .box-container .box h3{
    color:#222;
    font-size: 2.5rem;
    padding-top:1rem;/*changes*/
}

.skills .box-container .box p{
    color:#333;
    font-size:1.7rem;
    padding:1rem 0;
    line-height: 2;
}

.projects .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.projects .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
    overflow:hidden;
    height:20rem;/*changes in project box size*/
}

.projects .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.projects .box-container .box .content{
    height: 100%;
    width:100%;
    position: absolute;
    top:0; left:-100%;
    background:#fff9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .box-container .box:hover .content{
    left:0;
}

/*.blogs .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
*/
h1 {
	 	  
	color:#333;
	font-weight:700;
	margin-top:125px;	
    margin-left: 6%; /*changes in my education text*/
	text-align:center;
	text-transform:uppercase;
	letter-spacing:4px;
	line-height:23px;
}

/* --- Start progress bar --- */

.process-wrapper {
	margin:auto;
	max-width:1080px;
    
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
    margin-left: 24%;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
       	 
	/*background: linear-gradient(to right, #E91E63 0%,#fff 100%); */
    background: #27ae60;
    
    
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#207893;
    
}

#progress-bar-container #line {
	width:90%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
    margin-left: 24%;
	background: #207893;	 
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	/*background: #f3f3f3;*/
    background: #fff;
	border-radius: 4px;
    margin-left: 8%;/*background changes*/
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

.contact .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex:1 1 40rem;
    padding:1rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    background:#fff;
}

.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea{
    width:100%;
    border-radius: .5rem;
    font-size: 1.7rem;
    color:#333;
    padding:1rem;
    margin:1rem 0;
    border:.1rem solid rgba(0,0,0,.1);
    text-transform: none;
}

.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--green);
}

.contact .row form .inputBox input{
    width:49%;
}

.contact .row form textarea{
    height:20rem;
    resize: none;
}

.contact .row form .btn{
    margin:.5rem 0;
}

.footer{
    padding:2.5rem;
    font-size: 2rem;
    color:#666;
    background:#fff;
    text-align: center;
}

.footer span{
    color:var(--green);
}













/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }
    
    section{
        padding:2rem;
    }

    header{
        width:100%;
        left:-120%;
    }

    header.active{
        left:0%;
    }

    #menu-bars{
        display: initial;
    }

    header .navbar{
        writing-mode: horizontal-tb;
    }

    header .navbar a{
        display: block;
        font-size: 3rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 4rem;
    }

    .contact .row form .inputBox input{
        width:100%;
    }

}